---
---

$base-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$code-font-family: "Source Code Pro", monospace;

$brand-color: black;

$container-width: 1100px;
$tablet-width: 600px;
$phone-width: 480px;

$header-thickness: 56px;

$icon-transition-time: 1.0s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;

@import "-sections-dir";

.bioContainer {
display: flex;
align-items: center;
justify-content: left;
}
  

.bioDescription {   
max-width: 100%;
font-size: 16px;
// padding-right: 150px;

}

.bioP {
    font-size: 16px;
    max-width: 100%;
    // padding-right: 20px;

}
.bioSubtitle {
    font-size: 20px;
}

.bioImage {
    justify-content: right;
}

// chat gpt solution
.team-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-text {
    flex: 1;
    // padding: 20px;
}

.team-image {
    flex: 1;    
    padding-top: 20px;
}

.team-image img {
    width: 100%;
    max-width: 400px; /* Adjust the max-width to fit your design */
    height: auto;
}